body {
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #F1F1F1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

.container-search {
  margin: 50px auto;
  width: 80%;
}

.container-search input,
.container-search button {
  border: none;
  background-color: #F1F1F1;
}

.container-search input {
  display: inline-block;
  width: 85%;
  font-size: 80px;
  font-weight: bold;
  outline: none;
}

.container-search input::placeholder {
  color: #c2c2c2;
}

.container-search button img {
  width: 60px;
}

.container-result ul {
  margin: 0;
  display: inline-block;
  width: 33%;
  font-size: 0;
  list-style: none;
}

.container-result ul h3{
  font-size: 14px;
}

.container-result ul li {
  display: block;
  font-size: 10px;
}

a {
  text-decoration: none;
}